@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #fffaf3; */
}

.primary-color {
  background: #efab43 !important;
  color: #912919;
}

.secondary-color {
  color: #912919;
}

.app-container {
  min-height: 100vh;
}

.div-container {
  margin-top: 130px;
}

.nav-container {
  background-color: #fffaf3;
}

.brand-logo img {
  width: 60px;
}

.carmaj-banner {
  width: 100%;
}

.basic-navbar-nav {
  border-style: none;
  color: #efab43;
}

.nav-link {
  color: #912919;
  font-weight: 600;
}

.nav-link:hover {
  color: #efab43;
}

.nav-link i {
  font-size: 1.5rem;
}

.button,
.add-cart-btn,
.checkout-btn,
.login-btn,
.shipping-btn,
.placeOrder-btn,
.payment-btn,
.not-found-btn {
  background: #efab43 !important;
  border: none;
}

.button:hover,
.add-cart-btn:hover,
.checkout-btn:hover,
.login-btn:hover,
.shipping-btn:hover,
.placeOrder-btn:hover,
.payment-btn:hover,
.not-found-btn:hover {
  background: #eb910b !important;
  border: none;
}

.card-product {
  background-color: #fffaf3;
}

.card-product:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3) !important;
}

.card-product::after {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3) !important;
  opacity: 0 !important;
  transition: opacity 0.3s ease-in-out !important;
}

.rating span {
  color: #f4c47b;
}

.img-large {
  max-width: 80%;
}

.img-thumbnail {
  height: 150px;
}

.small-container {
  max-width: 600px;
}

.our-product {
  color: #912919;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #efab43;
  color: #efab43;
}

.user-edit-container,
.product-edit-container {
  margin-top: 130px;
  max-width: 600px;
}

.footer-container {
  background-color: #efab43;
}

.footer-icons i {
  font-size: 2.5rem;
}

.follow-us {
  font-family: 'Kaushan Script', cursive;
  font-size: 3rem;
}

/* for sidebar */
/* .side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #efab43;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}

.active-container {
  margin-left: 240px;
}

.active-nav {
  left: 0;
} */
